In [1]:
import numpy as np
import pandas as pd
from lazypredict import LazyClassifier
import pickle
from sklearn.model_selection import train_test_split
import pathlib
import os
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [2]:
PROJECT_PATH = os.getcwd()
PROJECT_PATH = os.path.join(PROJECT_PATH, "..")
MODELS_DIR = pathlib.Path(PROJECT_PATH) / "store" / "models"

DATASET_DIR = pathlib.Path(PROJECT_PATH) / "data"

# Rain

In [3]:
DATASET_NAME = "rain"

DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"
NEW_DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"

In [20]:
dataset = pd.read_csv(DATASET_PATH, index_col=0)
dataset.to_csv(DATASET_PATH)
dataset.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,Albury,13.40,22.90,0.60,NaN,NaN,W,44.00,W,WNW,...,71.00,22.00,1007.70,1007.10,8.00,NaN,16.90,21.80,No,No
2008-12-02,Albury,7.40,25.10,0.00,NaN,NaN,WNW,44.00,NNW,WSW,...,44.00,25.00,1010.60,1007.80,NaN,NaN,17.20,24.30,No,No
2008-12-03,Albury,12.90,25.70,0.00,NaN,NaN,WSW,46.00,W,WSW,...,38.00,30.00,1007.60,1008.70,NaN,2.00,21.00,23.20,No,No
2008-12-04,Albury,9.20,28.00,0.00,NaN,NaN,NE,24.00,SE,E,...,45.00,16.00,1017.60,1012.80,NaN,NaN,18.10,26.50,No,No
2008-12-05,Albury,17.50,32.30,1.00,NaN,NaN,W,41.00,ENE,NW,...,82.00,33.00,1010.80,1006.00,7.00,8.00,17.80,29.70,No,No

In [21]:
dataset.shape

(145460, 22)

In [22]:
dataset = dataset.reset_index(drop=True)
dataset.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.40,22.90,0.60,NaN,NaN,W,44.00,W,WNW,...,71.00,22.00,1007.70,1007.10,8.00,NaN,16.90,21.80,No,No
1,Albury,7.40,25.10,0.00,NaN,NaN,WNW,44.00,NNW,WSW,...,44.00,25.00,1010.60,1007.80,NaN,NaN,17.20,24.30,No,No
2,Albury,12.90,25.70,0.00,NaN,NaN,WSW,46.00,W,WSW,...,38.00,30.00,1007.60,1008.70,NaN,2.00,21.00,23.20,No,No
3,Albury,9.20,28.00,0.00,NaN,NaN,NE,24.00,SE,E,...,45.00,16.00,1017.60,1012.80,NaN,NaN,18.10,26.50,No,No
4,Albury,17.50,32.30,1.00,NaN,NaN,W,41.00,ENE,NW,...,82.00,33.00,1010.80,1006.00,7.00,8.00,17.80,29.70,No,No

In [27]:
dataset = dataset.dropna()

In [28]:
print(dataset.RainTomorrow.value_counts())
dataset.RainTomorrow = dataset.RainTomorrow.replace({"No": 0, "Yes": 1}).astype(int)
print(dataset.RainTomorrow.value_counts())

RainTomorrow
No     43993
Yes    12427
Name: count, dtype: int64
RainTomorrow
0    43993
1    12427
Name: count, dtype: int64

In [29]:
dataset.to_csv(NEW_DATASET_PATH)

# Airline Satisfaction

In [31]:
DATASET_NAME = "airline_satisfaction"

DATASET_PATH = DATASET_DIR / DATASET_NAME / "train.csv"
NEW_DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"

In [32]:
dataset = pd.read_csv(DATASET_PATH, index_col=0)
dataset.to_csv(DATASET_PATH)
dataset

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.00,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.00,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.00,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.00,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.00,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,...,2,3,1,4,2,3,2,3,0.00,neutral or dissatisfied
103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,...,5,5,5,5,5,5,4,0,0.00,satisfied
103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,...,4,3,2,4,5,5,4,7,14.00,neutral or dissatisfied
103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,...,1,4,5,1,5,4,1,0,0.00,neutral or dissatisfied
103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,...,1,1,1,4,4,3,1,0,0.00,neutral or dissatisfied

In [33]:
dataset.iloc[:,-1].value_counts()

satisfaction
neutral or dissatisfied    58697
satisfied                  44897
Name: count, dtype: int64

In [34]:

dataset.dropna().isna().sum().sum()

0

In [35]:
clean_dataset = dataset.dropna()
clean_dataset.to_csv(NEW_DATASET_PATH)

In [36]:
clean_dataset.shape

(103594, 24)

# Student Dropout

In [6]:
DATASET_NAME = "students_dropout"

DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"

In [7]:
dataset = pd.read_csv(DATASET_PATH)
dataset

,Unnamed: 0,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,17,5,171,1,1,122.00,1,19,...,0,0,0,0,0.00,0,10.80,1.40,1.74,1
1,1,1,15,1,9254,1,1,160.00,1,1,...,0,6,6,6,13.67,0,13.90,-0.30,0.79,0
2,2,1,1,5,9070,1,1,122.00,1,37,...,0,6,0,0,0.00,0,10.80,1.40,1.74,1
3,3,1,17,2,9773,1,1,122.00,1,38,...,0,6,10,5,12.40,0,9.40,-0.80,-3.12,0
4,4,2,39,1,8014,0,1,100.00,1,37,...,0,6,6,6,13.00,0,13.90,-0.30,0.79,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,4419,1,1,6,9773,1,1,125.00,1,1,...,0,6,8,5,12.67,0,15.50,2.80,-4.06,0
4420,4420,1,1,2,9773,1,1,120.00,105,1,...,0,6,6,2,11.00,0,11.10,0.60,2.02,1
4421,4421,1,1,1,9500,1,1,154.00,1,37,...,0,8,9,1,13.50,0,13.90,-0.30,0.79,1
4422,4422,1,1,1,9147,1,1,180.00,1,37,...,0,5,6,5,12.00,0,9.40,-0.80,-3.12,0
4423,4423,1,10,1,9773,1,1,152.00,22,38,...,0,6,6,6,13.00,0,12.70,3.70,-1.70,0

In [8]:
dataset.shape

(4424, 38)

# Loan Approval

In [3]:
DATASET_NAME = "load_approval"

DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"

In [4]:
dataset = pd.read_csv(DATASET_PATH)
dataset

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.00,female,Master,71948.00,0,RENT,35000.00,PERSONAL,16.02,0.49,3.00,561,No,1
1,21.00,female,High School,12282.00,0,OWN,1000.00,EDUCATION,11.14,0.08,2.00,504,Yes,0
2,25.00,female,High School,12438.00,3,MORTGAGE,5500.00,MEDICAL,12.87,0.44,3.00,635,No,1
3,23.00,female,Bachelor,79753.00,0,RENT,35000.00,MEDICAL,15.23,0.44,2.00,675,No,1
4,24.00,male,Master,66135.00,1,RENT,35000.00,MEDICAL,14.27,0.53,4.00,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.00,male,Associate,47971.00,6,RENT,15000.00,MEDICAL,15.66,0.31,3.00,645,No,1
44996,37.00,female,Associate,65800.00,17,RENT,9000.00,HOMEIMPROVEMENT,14.07,0.14,11.00,621,No,1
44997,33.00,male,Associate,56942.00,7,RENT,2771.00,DEBTCONSOLIDATION,10.02,0.05,10.00,668,No,1
44998,29.00,male,Bachelor,33164.00,4,RENT,12000.00,EDUCATION,13.23,0.36,6.00,604,No,1
44999,24.00,male,High School,51609.00,1,RENT,6665.00,DEBTCONSOLIDATION,17.05,0.13,3.00,628,No,1

In [6]:
dataset.isna().sum().sum()

0

In [7]:
dataset.shape

(45000, 14)

# Secondary Mushroom

In [8]:
DATASET_NAME = "secondary_mushroom"

DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"

In [9]:

dataset = pd.read_csv(DATASET_PATH)
dataset

,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,stem-width,...,stem-surface,stem-color,veil-type,veil-color,has-ring,ring-type,spore-print-color,habitat,season,class
0,6.76,b,t,w,f,e,c,w,12.59,12.37,...,y,w,u,w,t,l,NaN,d,u,p
1,6.83,b,t,w,f,e,c,w,13.84,13.54,...,y,w,u,w,t,l,NaN,d,u,p
2,9.10,b,t,w,f,e,c,w,13.79,13.68,...,y,w,u,w,t,e,NaN,d,a,p
3,8.27,b,t,w,f,e,c,w,12.63,12.46,...,y,w,u,w,t,l,NaN,d,a,p
4,7.95,b,t,w,f,e,c,w,13.10,13.78,...,y,w,u,w,t,e,NaN,d,a,p
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23293,1.18,s,s,y,f,f,f,f,3.93,6.22,...,NaN,y,NaN,NaN,f,f,NaN,d,a,p
23294,1.27,f,s,y,f,f,f,f,3.18,5.43,...,NaN,y,NaN,NaN,f,f,NaN,d,a,p
23295,1.27,s,s,y,f,f,f,f,3.86,6.37,...,NaN,y,NaN,NaN,f,f,NaN,d,u,p
23296,1.24,f,s,y,f,f,f,f,3.56,5.44,...,NaN,y,NaN,NaN,f,f,NaN,d,u,p
23297,1.17,s,s,y,f,f,f,f,3.25,5.45,...,NaN,y,NaN,NaN,f,f,NaN,d,u,p

In [10]:
dataset.isna().sum()

cap-diameter                0
cap-shape                   0
cap-surface                 0
cap-color                   0
does-bruise-or-bleed        0
gill-attachment             0
gill-spacing                0
gill-color                  0
stem-height                 0
stem-width                  0
stem-root               20827
stem-surface            12002
stem-color                  0
veil-type               22945
veil-color              21886
has-ring                    0
ring-type                1059
spore-print-color       21180
habitat                     0
season                      0
class                       0
dtype: int64

In [11]:
dataset.shape

(23298, 21)

In [12]:
dataset['class'].value_counts()

class
p    13061
e    10237
Name: count, dtype: int64

In [13]:
clean_dataset = dataset.dropna(subset=['gill-spacing', 'gill-attachment', 'cap-surface'])
clean_dataset.to_csv(DATASET_PATH, index=False)

In [14]:
clean_dataset.shape

(23298, 21)

# Dry Bean

In [15]:
DATASET_NAME = "dry_bean"

DATASET_PATH = DATASET_DIR / DATASET_NAME
DATASET_PATH.mkdir(parents=True, exist_ok=True)

In [16]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
  
path = DATASET_PATH / "dataset.csv"

if path.exists():
    dataset = pd.read_csv(path)
    X, y = dataset.iloc[:, :-1], dataset.iloc[:, -1]

else:
    # fetch dataset 
    dry_bean = fetch_ucirepo(id=602) 
      
    # data (as pandas dataframes) 
    X = dry_bean.data.features 
    y = dry_bean.data.targets 
      
    pd.concat([X, y], axis=1).to_csv(DATASET_PATH / "dataset.csv", index=False)
      
y.value_counts()

Class
DERMASON    3546
SIRA        2636
SEKER       2027
HOROZ       1928
CALI        1630
BARBUNYA    1322
BOMBAY       522
Name: count, dtype: int64

In [17]:
y.replace({"DERMASON": 0, "SIRA": 1, "SEKER": 2, "HOROZ": 3, "CALI":4, "BARBUNYA":5, "BOMBAY": 6}, inplace=True)
y.value_counts()

Class
0    3546
1    2636
2    2027
3    1928
4    1630
5    1322
6     522
Name: count, dtype: int64

# Bank Marketing

In [18]:
DATASET_NAME = "bank_marketing"

DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"

In [19]:
dataset = pd.read_csv(DATASET_PATH)
dataset

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome,y
0,27,management,single,secondary,no,35,no,no,cellular,4,jul,255,1,-1,0,NaN,no
1,54,blue-collar,married,primary,no,466,no,no,cellular,4,jul,297,1,-1,0,NaN,no
2,43,blue-collar,married,secondary,no,105,no,yes,cellular,4,jul,668,2,-1,0,NaN,no
3,31,technician,single,secondary,no,19,no,no,telephone,4,jul,65,2,-1,0,NaN,no
4,27,technician,single,secondary,no,126,yes,yes,cellular,4,jul,436,4,-1,0,NaN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30902,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,NaN,yes
30903,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,NaN,yes
30904,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
30905,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,NaN,no
30906,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [20]:
dataset.isna().sum()

age                0
job                0
marital            0
education          0
default            0
balance            0
housing            0
loan               0
contact            0
day_of_week        0
month              0
duration           0
campaign           0
pdays              0
previous           0
poutcome       23065
y                  0
dtype: int64

In [21]:
clean_dataset = dataset.dropna(subset=['contact', 'education', 'job'])
clean_dataset.to_csv(DATASET_PATH, index=False)

In [22]:
clean_dataset.shape

(30907, 17)

# Adult

In [27]:
DATASET_NAME = "adult"

DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"

In [28]:
dataset = pd.read_csv(DATASET_PATH)
dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47871,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K.
47872,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
47873,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
47874,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
47875,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [29]:
dataset.isna().sum()

age                 0
workclass           0
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation          0
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    255
income              0
dtype: int64

In [30]:
clean_dataset = dataset.dropna(subset=['occupation', 'workclass'])
clean_dataset.to_csv(DATASET_PATH, index=False)

In [31]:
clean_dataset.shape

(47876, 15)

# HELOC

In [32]:
DATASET_NAME = "heloc"

DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"

In [33]:
dataset = pd.read_csv(DATASET_PATH)
dataset

,RiskPerformance,ExternalRiskEstimate,MSinceOldestTradeOpen,MSinceMostRecentTradeOpen,AverageMInFile,NumSatisfactoryTrades,NumTrades60Ever2DerogPubRec,NumTrades90Ever2DerogPubRec,PercentTradesNeverDelq,MSinceMostRecentDelq,...,PercentInstallTrades,MSinceMostRecentInqexcl7days,NumInqLast6M,NumInqLast6Mexcl7days,NetFractionRevolvingBurden,NetFractionInstallBurden,NumRevolvingTradesWBalance,NumInstallTradesWBalance,NumBank2NatlTradesWHighUtilization,PercentTradesWBalance
0,Bad,55,144,4,84,20,3,0,83,2,...,43,0,0,0,33,-8,8,1,1,69
1,Bad,61,58,15,41,2,4,4,100,-7,...,67,0,0,0,0,-8,0,-8,-8,0
2,Bad,67,66,5,24,9,0,0,100,-7,...,44,0,4,4,53,66,4,2,1,86
3,Bad,66,169,1,73,28,1,1,93,76,...,57,0,5,4,72,83,6,4,3,91
4,Bad,81,333,27,132,12,0,0,100,-7,...,25,0,1,1,51,89,3,1,0,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10454,Good,73,131,5,57,21,0,0,95,80,...,19,7,0,0,26,-8,5,2,0,100
10455,Bad,65,147,39,68,11,0,0,92,28,...,42,1,1,1,86,53,2,2,1,80
10456,Bad,74,129,6,64,18,1,1,100,-7,...,33,3,4,4,6,-8,5,-8,0,56
10457,Bad,72,234,12,113,42,2,2,96,35,...,20,6,0,0,19,-8,4,1,0,38
10458,Bad,66,28,1,17,4,0,0,100,-7,...,60,3,3,2,67,-8,2,1,0,100

In [35]:
y = y.replace({"Bad":0, "Good": 1}).astype(int)
y.value_counts()

Class
0    3546
1    2636
2    2027
3    1928
4    1630
5    1322
6     522
Name: count, dtype: int64

In [36]:
dataset.isna().sum().sum()

0

In [37]:
dataset.shape

(10459, 24)

# Gesture Phase

In [38]:
DATASET_NAME = "gesture_phase"

DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"

In [39]:
dataset = pd.read_csv(DATASET_PATH)

dataset

,lhx,lhy,lhz,rhx,rhy,rhz,hx,hy,hz,sx,...,24,25,26,27,28,29,30,31,32,Phase
0,5.35,4.36,1.50,5.26,4.32,1.49,5.04,1.62,1.78,5.06,...,0.00,0.01,0.01,0.00,0.01,0.00,0.00,0.00,0.00,D
1,4.87,4.25,1.56,5.24,4.35,1.55,5.04,1.62,1.78,5.06,...,-0.00,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,D
2,5.36,4.36,1.50,5.24,4.35,1.55,5.04,1.62,1.78,5.06,...,-0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,D
3,4.94,4.28,1.55,5.11,4.23,1.53,5.04,1.62,1.78,5.06,...,-0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,D
4,5.00,4.28,1.54,4.99,4.18,1.52,5.04,1.62,1.78,5.05,...,-0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9868,3.90,5.39,1.78,5.08,5.23,1.81,4.39,1.80,1.95,4.47,...,-0.00,0.01,0.00,0.01,0.00,0.00,0.00,0.00,0.00,D
9869,3.83,5.25,1.80,5.08,5.25,1.81,4.39,1.80,1.95,4.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,D
9870,3.83,5.24,1.80,5.10,5.21,1.81,4.39,1.80,1.95,4.47,...,0.00,0.01,0.00,0.01,0.00,0.00,0.00,0.00,0.00,D
9871,3.92,5.40,1.78,5.09,5.22,1.81,4.39,1.80,1.95,4.47,...,0.00,0.01,0.00,0.01,0.00,0.00,0.00,0.00,0.00,D
9872,3.92,5.41,1.78,5.09,5.23,1.81,4.39,1.80,1.95,4.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,D

In [41]:
y = y.replace({"S":0,"D":1,"P":2, "R":3, "H":4}).astype(int)
y.value_counts()

Class
0    3546
1    2636
2    2027
3    1928
4    1630
5    1322
6     522
Name: count, dtype: int64

In [40]:
dataset.isna().sum()

lhx          0
lhy          0
lhz          0
rhx          0
rhy          0
rhz          0
hx           0
hy           0
hz           0
sx           0
sy           0
sz           0
lwx          0
lwy          0
lwz          0
rwx          0
rwy          0
rwz          0
timestamp    0
phase        0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
27           0
28           0
29           0
30           0
31           0
32           0
Phase        0
dtype: int64

In [42]:
dataset.shape

(9873, 53)

# Phishing

In [15]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
phishing_websites = fetch_ucirepo(id=327) 
  
# data (as pandas dataframes) 
X = phishing_websites.data.features 
y = phishing_websites.data.targets

{'uci_id': 327, 'name': 'Phishing Websites', 'repository_url': 'https://archive.ics.uci.edu/dataset/327/phishing+websites', 'data_url': 'https://archive.ics.uci.edu/static/public/327/data.csv', 'abstract': 'This dataset collected mainly from: PhishTank archive, MillerSmiles archive, Googleâ€™s searching operators.', 'area': 'Computer Science', 'tasks': ['Classification'], 'characteristics': ['Tabular'], 'num_instances': 11055, 'num_features': 30, 'feature_types': ['Integer'], 'demographics': [], 'target_col': ['result'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2012, 'last_updated': 'Tue Mar 05 2024', 'dataset_doi': '10.24432/C51W2X', 'creators': ['Rami Mohammad', 'Lee McCluskey'], 'intro_paper': {'ID': 396, 'type': 'NATIVE', 'title': 'An assessment of features related to phishing websites using an automated technique', 'authors': 'R. Mohammad, F. Thabtah, L. Mccluskey', 'venue': 'International Conference for Internet Technology and Secured Transactions', 'year': 2012, 'journal': None, 'DOI': None, 'URL': 'https://www.semanticscholar.org/paper/An-assessment-of-features-related-to-phishing-using-Mohammad-Thabtah/0c0ff58063f4e078714ea74f112bc709ba9fed06', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'One of the challenges faced by our research was the unavailability of reliable training datasets. In fact this challenge faces any researcher in the field. However, although plenty of articles about predicting phishing websites have been disseminated these days, no reliable training dataset has been published publically, may be because there is no agreement in literature on the definitive features that characterize phishing webpages, hence it is difficult to shape a dataset that covers all possible features. \r\nIn this dataset, we shed light on the important features that have proved to be sound and effective in predicting phishing websites. In addition, we propose some new features.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'For Further information about the features see the features file in the data folder.', 'citation': None}}
                          name     role     type demographic description  \
0            having_ip_address  Feature  Integer        None        None
1                   url_length  Feature  Integer        None        None
2           shortining_service  Feature  Integer        None        None
3             having_at_symbol  Feature  Integer        None        None
4     double_slash_redirecting  Feature  Integer        None        None
5                prefix_suffix  Feature  Integer        None        None
6            having_sub_domain  Feature  Integer        None        None
7               sslfinal_state  Feature  Integer        None        None
8   domain_registration_length  Feature  Integer        None        None
9                      favicon  Feature  Integer        None        None
10                        port  Feature  Integer        None        None
11                 https_token  Feature  Integer        None        None
12                 request_url  Feature  Integer        None        None
13               url_of_anchor  Feature  Integer        None        None
14               links_in_tags  Feature  Integer        None        None
15                         sfh  Feature  Integer        None        None
16         submitting_to_email  Feature  Integer        None        None
17                abnormal_url  Feature  Integer        None        None
18                    redirect  Feature  Integer        None        None
19                on_mouseover  Feature  Integer        None        None
20                  rightclick  Feature  Integer        None        None
21                 popupwindow  Feature  Integer        None        None
22                      iframe  Feature  Integer        None        None
23               age_of_domain  Feature  Integer        None        None
24                   dnsrecord  Feature  Integer        None        None
25                 web_traffic  Feature  Integer        None        None
26                   page_rank  Feature  Integer        None        None
27                google_index  Feature  Integer        None        None
28      links_pointing_to_page  Feature  Integer        None        None
29          statistical_report  Feature  Integer        None        None
30                      result   Target  Integer        None        None

   units missing_values
0   None             no
1   None             no
2   None             no
3   None             no
4   None             no
5   None             no
6   None             no
7   None             no
8   None             no
9   None             no
10  None             no
11  None             no
12  None             no
13  None             no
14  None             no
15  None             no
16  None             no
17  None             no
18  None             no
19  None             no
20  None             no
21  None             no
22  None             no
23  None             no
24  None             no
25  None             no
26  None             no
27  None             no
28  None             no
29  None             no
30  None             no

In [20]:
y = y.replace({-1: 0})
y.value_counts()

result
1         6157
0         4898
Name: count, dtype: int64

In [21]:
DATASET_NAME = "phishing"
DATASET_PATH = DATASET_DIR / DATASET_NAME / "dataset.csv"

dataset['label'] = y
dataset.to_csv(DATASET_PATH, index=False)